In [2]:
company = int(float(input("Enter a Manufacturer")))
no_of_units = int(input("Enter a number"))
price_per_unit = int(input("Enter price"))

print(f"You have ordered {company},  the unit of company is {no_of_units}, price per unit is : {price_per_unit}")

Enter a Manufacturer2.5
Enter a number5
Enter price3
You have ordered 2,  the unit of company is 5, price per unit is : 3

In [4]:
"my name is {}. I am a {} and I am {} years old".format("Bilal", "student", 23)
                                            #  Positions  0           1      2

    #OR
#"my name is {0}. I am a {1} and I am {2} years old. Please call me {0}".format("Bilal", "student", 29)
                                            #  Positions  0           1      2

'my name is Bilal. I am a student and I am 23 years old'

In [3]:
name = "Pakistan"
print("last line")
name

last line

'Pakistan'

In [8]:
name = "Pakistan"
dob = 1947

In [9]:
# ANOTHER method of string formation

print(f"I am your country {name},  i was born in {dob}")
# f is used to take the values

I am your country Pakistan,  i was born in 1947

In [6]:
# 
value1 = "I am a string value"
value2 = 'I am also a string value'
value3 = '''I am also a string value'''

In [7]:
print('You are all students of "Saylani Mass IT Training Deptt"')

You are all students of "Saylani Mass IT Training Deptt"

In [8]:
print("You are all students of \"Saylani Mass IT Training Deptt\"")

You are all students of "Saylani Mass IT Training Deptt"

In [11]:
print('''You are all students of "Saylani Mass IT Training Deptt"''')

You are all students of "Saylani Mass IT Training Deptt"

# MULTILINE STRING FORMATION

               SAYLANI MASS IT 
    
    NAME : BILAL 
    COURSE : AI & DS
    CLASS : 7 - 10

In [15]:
"                SAYLANI MASS IT \n\n Name: Bilal \n Course: AI & DS \n Class : 7 - 10          "

'                SAYLANI MASS IT \n\n Name: Bilal \n Course: AI & DS \n Class : 7 - 10          '

In [16]:
# use 3 times single or double qote.

student_name = input("Enter your name")
course = input("Course Name")
classTime = input("Class Timing ")

print(f"""              SAYLANI MASS IT TRAINING
Name: {student_name}
Course: {course}
Class Timing: {classTime}
""")

Enter your nameBilal
Course NameDS & AI
Class Timing 3-7
              SAYLANI MASS IT TRAINING
Name: Bilal
Course: DS & AI
Class Timing: 3-7

In [18]:
groom_name = input("Enter Groom name")
bride_name = input("Enter Bride Name")
venue = input("place ")
timing = input("timing")

print(f"""             WEDDING CARD
Name: {groom_name}
Course: {bride_name}
Venue: {venue}
Timing: {timing}
""")

Enter Groom nameBilal
Enter Bride NameAalia
place PC hotel
timing10-12
             WEDDING CARD
Name: Bilal
Course: Aalia
Venue: PC hotel
Timing: 10-12

In [19]:
para = ("We are studying AI & DS. Thanks SMIT for great effort")

In [32]:
para.upper()

'WE ARE STUDYING AI & DS. THANKS SMIT FOR GREAT EFFORT'

In [40]:
para = ("We are studying AI & DS. Thanks SMIT for great effort")
para.find("SMIT")

32

In [11]:
para = ("We are studying AI & DS. Thanks SMIT for great effort AI and DS")
para.find("AI", 17)

16

In [12]:
para = ("We are studying AI & DS. Thanks SMIT for great effort AI and DS")
para.count("AI")

2

In [49]:
para = ("We are studying AI & DS. Thanks SMIT for great effort")
para.lower().find("smit")

32

In [56]:
para = ("We are studying AI & DS. Thanks SMIT for great effort")
para.lower().replace("smit", "SAYLANI_MASS_IT_TRAINING")

'we are studying ai & ds. thanks SAYLANI_MASS_IT_TRAINING for great effort'

In [58]:
para.lower().replace(para.lower().str(find("smit")), "SAYLANI_MASS_IT_TRAINING")

AttributeError: 'str' object has no attribute 'str'

In [60]:
"abcd".isalpha()

True

In [64]:
name = " Nasir "
name
len(name)

7

In [71]:
name.lstrip()

'Nasir '

In [78]:
len(name)
name.rstrip()

' Nasir'

In [76]:
name.strip()

'Nasir'

In [80]:
# Mutable ---- & Immutable => cant change e.g string is iterable but immutable

In [15]:
sen  = "hello python"

In [16]:
"-".join(sen)

'h-e-l-l-o- -p-y-t-h-o-n'

In [18]:
para = ("We are studying AI & DS. Thanks SMIT for great effort")
para.casefold().replace("smit", "SAYLANI_MASS_IT_TRAINING")

'we are studying ai & ds. thanks SAYLANI_MASS_IT_TRAINING for great effort'

In [22]:
sen  = "hello"
sen.expandtabs(5)

'hello'

In [27]:
txt = "H\te\tl\tl\to"

x =  txt.expandtabs(2)

print(x)

H e l l o

In [28]:
txt = "H\te\tl\tl\to"

print(txt.expandtabs(2))
print(txt.expandtabs(4))
print(txt.expandtabs(10))

H e l l o
H   e   l   l   o
H         e         l         l         o

In [36]:
txt = "My name is Bil√•l"

x = txt.encode()

print(x)

b'My name is Bil\xc3\xa5l'

In [35]:
txt = "Hello, welcome to my world."

x = txt.index("welcome")

print(x)

7

In [37]:
txt = "For only {price:.2f} dollars!"
print(txt.format(price = 49))

For only 49.00 dollars!

In [38]:
txt = "Company12"

x = txt.isalnum()

print(x)

True

In [39]:
txt = "CompanyX"

x = txt.isalpha()

print(x)

True

In [40]:
txt = "\u0033" #unicode for 3

x = txt.isdecimal()

print(x)

True

In [41]:
txt = "50800"
x = txt.isdigit()
print(x)

txt1 = "5.0800"
x1 = txt1.isdigit()
print(x1)

True
False

In [43]:
txt = "Demo1//"
x = txt.isidentifier()
print(x)

txt1 = "Demo1"
x1 = txt1.isidentifier()
print(x1)

False
True

In [44]:
txt = ""
x = txt.isspace()
print(x)

txt1 = "   "
x1 = txt1.isspace()
print(x1)

False
True

In [45]:
txt = "banana"
x = txt.ljust(20)
print(x, "is my favorite fruit.")

banana               is my favorite fruit.

In [46]:
txt = "Hello Sam!"

mytable = txt.maketrans("S", "N")

print(txt.translate(mytable))

Hello Nam!

In [47]:
txt = "I could eat bananas all day"

x = txt.partition("bananas")

print(x)

('I could eat ', 'bananas', ' all day')

In [48]:
# The rfind() method finds the last occurrence of the specified value. The rfind() method returns -1 if the value is not found.
#The rfind() method is almost the same as the rindex()

txt = "Mi casa, su casa."

x = txt.rfind("casa")

print(x)

12

In [49]:
txt = "banana"

x = txt.rjust(20)

print(x, "is my favorite fruit.")

              banana is my favorite fruit.

In [50]:
txt = "welcome to the jungle"

x = txt.split()

print(x)

['welcome', 'to', 'the', 'jungle']

In [51]:
txt = "Thank you for the music\nWelcome to the jungle"

x = txt.splitlines()

print(x)

['Thank you for the music', 'Welcome to the jungle']

In [52]:
txt = "Hello My Name Is PETER"

x = txt.swapcase()

print(x)

hELLO mY nAME iS peter

In [57]:
a = "bilal"

In [58]:
print("Hello", a, "How are you ")

Hello bilal How are you

In [60]:
a = "bilal"
print("Hello", a.lower(), "How are you ")
print("Hello", a.upper(), "How are you ")

Hello bilal How are you
Hello BILAL How are you

In [64]:
author = input("")
print("Author's name", author)
quote = input("")
print("Famous Quote is ",quote)

dfd
dfd
sdffsldafjskdf
Famous Quote is  sdffsldafjskdf

In [70]:
famous_person = "Bilal"
print(famous_person)

message = "How are you"
print(message)

Bilal
How are you

In [69]:
name = "    Bilal "
name.rstrip()

'    Bilal'