# Python Class 2

In [1]:
# Print Function
print("Pakistan Zindabad")

Pakistan Zindabad

In [2]:
print("I am a string value", 11, 2.3, True, False)

I am a string value 11 2.3 True False

In [3]:
print("I am a string value", 11, 2.3, True, False, sep="")

I am a string value112.3TrueFalse

In [4]:
print("I am a string value", 11, 2.3, True, False, sep="  :  ")

I am a string value  :  11  :  2.3  :  True  :  False

In [5]:
print("I am a string value" "I am a string value" "I am a string value", 1,2,3,4,5 ,sep="****")

I am a string valueI am a string valueI am a string value****1****2****3****4****5

In [6]:
print("Bilal")
print("Yousuf")

Bilal
Yousuf

In [7]:
print("Bilal", end="")
print("Yousuf")

BilalYousuf

In [8]:
"python \n world"

'python \n world'

In [ ]:
# Type Casting means change of Type.

In [31]:
age = int (float(input("Enter Age")))

Enter Age26.7

# Data Types

# Variables for string

In [9]:
# Variables are identifier
age = 23.7  # age is a variable,   age is assign a value 23.7

In [10]:
age

23.7

In [11]:
id(age)

1404641459024

In [12]:
type(age)

float

# Operators

Addition +, Subtraction -, Multiplication *, Division / or //

In [13]:
mark = 45
mark + 40

85

In [14]:
mark + age

68.7

In [15]:
age = age + 1
age

24.7

In [16]:
age = age * 1
age

24.7

In [17]:
# Division : By default python division is float

age = 10/10
age

1.0

In [18]:
age = 10 // 10
age

1

In [19]:
import math

math.floor(23.9)

23

In [30]:
import math

math.ceil(23.1)

24

In [21]:
a = 5
print(a)

a = a +5
print(a)

5
10

# User Input

In [22]:
age = input("Enter Your age  ") + input("Enter Your hobby  ") +  input("Enter Your Name  ")

Enter Your age  15
Enter Your hobby  swimming
Enter Your Name  Bilal

In [23]:
name =  input("Enter your name\t")

Enter your name	Bial

In [24]:
Biodata = name+ "  " + age
Biodata

'Bial  15swimmingBilal'

In [25]:
age1 = int (input("Age; "))
age2 = int(input("Age; "))
age = age1 + age2
age

Age; 15
Age; 16

31

In [50]:
age1 = input("Age; ")
age2 = input("Age; ")
age = age1 + age2
age

Age; 11
Age; 33

'1133'

# CLASS 3

# String Formation

In [48]:
company = int(float(input("Enter a Manufacturer")))
no_of_units = int(input("Enter a number"))
price_per_unit = int(input("Enter price"))

print(f"You have ordered {company},  the unit of company is {no_of_units}, price per unit is : {price_per_unit}")

Enter a Manufacturer25.6
Enter a number55
Enter price36
You have ordered 25,  the unit of company is 55, price per unit is : 36

In [29]:
print("my fame")
input("Enter Name")

my fame
Enter NameBilal

'Bilal'

In [34]:
"my name is {}. I am a {} and I am {} years old".format("Bilal", "student", 29)
                                            #  Positions  0           1      2

    #OR
#"my name is {0}. I am a {1} and I am {2} years old. Please call me {0}".format("Bilal", "student", 29)
                                            #  Positions  0           1      2

'my name is Bilal. I am a student and I am 29 years old'

In [49]:
name = "Pakistan"
print("last line")
name

last line

'Pakistan'

In [42]:

name = "Pakistan"
dob = 1947
name
dob

1947

In [46]:
# Another method of string formation

print(f"I am your country {name},  i was born in {dob}")
# f is used to take the values

I am your country Pakistan,  i was born in 1947