# FUNCTIONS CONTINUE......

In [7]:
def square(num):
    #local variable
    square = num*num
    print(square)

In [8]:
square(6)

36

In [19]:
def square(num):
    #local variable
    sqr = num*num
    print(sqr)
    #global variable
    global name
    name = "Saylani"

In [20]:
square(7)
print(name)

Saylani

In [21]:
# kisi b block k andar 1 hi return hota hai multiple return nai hote
def square(num):
    sqr = num * num
    return sqr
square(10)

100

In [25]:
def square(num):
    return num **2
     
square(10)

100

In [26]:
def square(num):
    return num **2
     
square(10)

100

In [27]:
def square(num):
    return num **2, "hello", True 
     
square(10)

(100, 'hello', True)

In [31]:
def add(num1,num2):
    return num1 + num2
add(10,20)

30

In [33]:
def add(num1, num2):
    total = num1 + num2
    global namee
    namee = "Asad"
    return total

In [34]:
add(3,4)

7

In [35]:
print(namee)

Asad

In [36]:
def sub(v1,v2): #jab function kuch return nai karega to NONE aaega.
    ans = v1+v2
    print(ans)

In [37]:
print(sub(20,30))

50
None

In [38]:
def sub(v1,v2):
    ans = v1+v2
    return ans

In [40]:
print(sub(2,3))

5

# Positional Parameters AND Argument

In [44]:
def full_name(fname, lname):
    fullName = fname + " "+ lname
    return fullName

In [46]:
#  full_name("Hussain","Bilal") # positional parameters/arguments should set correctly
full_name("Bilal", "Hussain")

'Bilal Hussain'

# Default Parameters

In [60]:
def cube(num):
    _cube = num **3
    return _cube

In [61]:
cube()

TypeError: cube() missing 1 required positional argument: 'num'

In [ ]:
def cube(num=3):
    _cube = num **3
    return _cube

In [58]:
cube() # agar hum ne default value oper funcion main di lkin call krte waqt value nai di to wo default value ko use karega.
       # agar hum ne function ko call krte waqt value dedi to wo called value pick karega rather than default value.
#cube(10)

1000

In [65]:
lst = [1,2,3,4,8,10,77]
def max_num(lst = [1,2,3,4,8,10,77]):
    for a in lst:
        print(a, end = " ")
max_num()

1 2 3 4 8 10 77

In [70]:
arr = [1,2,3,4,8,10,77]
def max_min_lst(arr):
    return (max (arr), min(arr))
_max, _min= max_min_lst([1,2,3,4,8,10,77])
print(_max, _min)

77 1

In [83]:
def dosqr(arr): # list compreshension
    return [a**2 if a<10 else a for a in arr]

In [84]:
dosqr([1,2,3,4,8,10, 11,22])

[1, 4, 9, 16, 64, 10, 11, 22]

In [85]:
def dosqr(arr): # list compreshension
    return [a**2 for a in arr if a<10]

In [86]:
dosqr([1,2,3,4,8,10, 11,22])

[1, 4, 9, 16, 64]

In [104]:
def discard_name_gtrThan10(arr):
    return [name for name in arr if len(str(name))<10]

In [105]:
discard_name_gtrThan10(["Bilal", "Dildar_hussain", "kazim"])

['Bilal', 'kazim']