# For LOOP

In [1]:
range (10)

range(0, 10)

In [2]:
# FOR loop iterate those which are iterable e.g: string, list etc.
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [4]:
for i in range(3,9):
    print(i, end = " ")

3 4 5 6 7 8

In [5]:
range(10,3)

range(10, 3)

In [6]:
for i in range(10,1,-1):
    print(i, end = " ")

10 9 8 7 6 5 4 3 2

In [12]:
#Even Number if range 1st parameter starts with 1.
for i in range(1,10,2):
    print(i, end = " ")

1 3 5 7 9

In [17]:
#Odd Number if range 1st parameter starts with 0.
for i in range(0,10,2):
    print(i, end = " ")

0 2 4 6 8

In [23]:
for i in range(0,10,3):
    print(i, end = " ")

0 3 6 9

In [4]:
for i in range(10,2,-3):
    print(i, end = " ")

10 7 4

In [15]:
for i in range(1,1000):
    if i%11==0:
        print(i)
        break
    print(i)

1
2
3
4
5
6
7
8
9
10
11

In [9]:
even = []
odd = []
for i in range(1,50):
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)
print(even)
print(odd)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [16]:
even = []
odd = []
divisible_by_5 = []
for i in range(1,50):
    if i%2==0 and i%5!=0:
        even.append(i)
    elif i%5!=0:
        odd.append(i)
    else:
        divisible_by_5.append(i)
print("Even Numbers: \t\t",even)
print("Odd Numbers: \t\t", odd)
print("Divisible by 5: \t", divisible_by_5)

Even Numbers: 		 [2, 4, 6, 8, 12, 14, 16, 18, 22, 24, 26, 28, 32, 34, 36, 38, 42, 44, 46, 48]
Odd Numbers: 		 [1, 3, 7, 9, 11, 13, 17, 19, 21, 23, 27, 29, 31, 33, 37, 39, 41, 43, 47, 49]
Divisible by 5: 	 [5, 10, 15, 20, 25, 30, 35, 40, 45]

In [21]:
prime_number = []
other_number = []
for i in range(1,100):
    if i/i!=0:
        prime_number.append(i)
    else:
        other_number.append(i)
        
print("Prime Numbers are: ", prime_number)
print("Other Numbers are: ", other_number)

Prime Numbers are:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
Other Numbers are:  []

In [34]:
even = []
odd = []
#divisible_by_5 = []
for i in range(1,50):
    if i%5!=0:
        if(i%2==0):
            even.append(i)
        else:
            odd.append(i)
    #else:
    #    divisible_by_5.append(i)
print("Even Numbers: \t\t",even)
print("Odd Numbers: \t\t", odd)
#print("Divisible by 5: \t", divisible_by_5)

Even Numbers: 		 [2, 4, 6, 8, 12, 14, 16, 18, 22, 24, 26, 28, 32, 34, 36, 38, 42, 44, 46, 48]
Odd Numbers: 		 [1, 3, 7, 9, 11, 13, 17, 19, 21, 23, 27, 29, 31, 33, 37, 39, 41, 43, 47, 49]

In [35]:
for num in range(1,10):
    if num%2==0:
        continue
    else:
        print(num)

1
3
5
7
9

In [40]:
for num in range(1,10):
    if num==7:
        continue #continue keyword skip the iteration
    else:
        print(num, end=" ")

1 2 3 4 5 6 8 9

# Iterating over a list using for Loop

In [43]:
list1 = ["Ali","Wali", "Umar", "Bilal", "Hasnain"]
for name in list1:
    print(name, end=' ')

Ali Wali Umar Bilal Hasnain

In [44]:
list1 = ["Ali","Wali", "Umar", "Bilal", "Hasnain"]
for name in list1[2:4]:
    print(name, end=' ')

Umar Bilal

In [54]:
guest_list = []

for names in range(1,5):
    names = input("Enter name: ")
    
    
    if names == "Ali":
        continue
    else:
        guest_list.append(names)
print("Guests are: ", guest_list)

Enter name: Ali
Enter name: wali
Enter name: Dildar
Enter name: Kazim
Guests are:  ['wali', 'Dildar', 'Kazim']

In [64]:
guest_list = []

for names in range(1,5):
    names = input("Enter name: ").lower()
    
    
    if names == "ali":
        continue
    else:
        guest_list.append(names)
print("Guests are: ", guest_list)

Enter name: ali
Enter name: wali
Enter name: kazim
Enter name: dildar
Guests are:  ['wali', 'kazim']

In [62]:
guest_list = []

for names in range(1,5):
    names = input("Enter name: ").lower()
    
    
    if names != "ali":
        guest_list.append(names)
print("Guests are: ", guest_list)

Enter name: ali
Enter name: wali
Enter name: kazim
Enter name: dildar
Guests are:  []

In [58]:
'Kazim' in guest_list

False

In [59]:
'kazim' in guest_list

True

In [65]:
guest_list = []

for names in range(1,5):
    names = input("Enter name: ").lower()
    
    
    if names != "ali" or noEntry in guest_list:
        guest_list.append(names)
print("Guests are: ", guest_list)

Enter name: ali

NameError: name 'noEntry' is not defined