In [1]:
name = "PAKISTAN"

In [4]:
for char in name[::-1]:
    print(char, end=" ")

N A T S I K A P

In [5]:
lst = [11,22,33,44]

In [6]:
lst[-1]

44

In [8]:
lst[3:0:-1]

[44, 33, 22]

In [9]:
lst[::-1]

[44, 33, 22, 11]

# 2

In [10]:
lst1= ["Nasir", "Bilal", "Dildar", "Kazim"]
lst2 = ["Hussain", "Akbar", "Khan", "Hashmi"]

In [12]:
for name in lst1:
    for sirname in lst2:
        print(f"{name} {sirname}")

Nasir Hussain
Nasir Akbar
Nasir Khan
Nasir Hashmi
Bilal Hussain
Bilal Akbar
Bilal Khan
Bilal Hashmi
Dildar Hussain
Dildar Akbar
Dildar Khan
Dildar Hashmi
Kazim Hussain
Kazim Akbar
Kazim Khan
Kazim Hashmi

In [17]:
lst1= ["Nasir", "Bilal", "Dildar", "Kazim"]
lst2 = ["Hussain", "Akbar", "Khan", "Hashmi"]

for a in lst1:
    print(f"{a} {lst2 {lst1.index{a}}")

SyntaxError: f-string: invalid syntax (Temp/ipykernel_9168/3982662759.py, line 5)

In [23]:
val1 = [1,2,3,4,5,6,7,8,9]
val12 = [1,2,3,4,5,6,7,8,9]

In [26]:
for a in val1:
    print(f"{a} {val12 [val1.index(a)]}")

1 1
2 2
3 3
4 4
5 5
6 6
7 7
8 8
9 9

# DICTIONARY

In [19]:
dictionary = {}
type(dictionary)

dict

In [20]:
dictionary = {"name":"Saylani", "campus":"Gulshan Iqbal", "course":"AI & DS"}
#              Key    Value      Key      Value            Key      Value

In [21]:
dictionary['campus']

'Gulshan Iqbal'

In [22]:
dictionary['name']

'Saylani'

In [34]:
dictionary["teacher"] = "Nasir"

In [35]:
dictionary

{'name': 'Saylani', 'campus': 'Gulshan Iqbal', 'teacher': 'Nasir'}

In [29]:
# updating of values

dictionary["teacher"] = "Bilal"

In [30]:
dictionary

{'name': 'Saylani',
 'campus': 'Gulshan Iqbal',
 'course': 'AI & DS',
 'teacher': 'Bilal'}

In [31]:
del dictionary["course"]
dictionary

{'name': 'Saylani', 'campus': 'Gulshan Iqbal', 'teacher': 'Bilal'}

# FOR LOOP IN DICTIONARY

In [36]:
score = {"Babar":"103", "Rizwan":"89", "Khushdil":"43"}

for i in score.keys():
    print(i)

Babar
Rizwan
Khushdil

In [39]:
for i in score.values():
    print(i)

103
89
43

In [41]:
for key,val in score.items():
    print(key, val)

Babar 103
Rizwan 89
Khushdil 43

In [42]:
for key,val in score.items():
    print(key, val)

Babar 103
Rizwan 89
Khushdil 43

In [43]:
for key in score.keys():
    print(score[key])

103
89
43